<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="FooterFragment">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <style>
        .footer-container {
            width: 1000px;
            margin: 0 auto;
            text-align: right;
        }

        .footer-bar {
            background-color: #b2d8e5;
            height: 10px;
        }

        .booktion-text {
            color: #333;
            font-weight: bold;
        }
    </style>
</head>
<body>
<br><br><br>
<div class="footer-container">
    <div class="footer-bar"></div>
    <div class="booktion-text">Booktion</div>
</div>
</body>
</html>
