<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:fragment="HeaderFragment">

<head>
    <title>Booktion</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" >
</head>
<body>
<div class="navbar">
    <span th:text="${session.userId != null ? session.userId + ' 님' : ''}" th:if="${session.userId != null}"></span>
    <a th:href="@{/signIn}" th:if="${session.userId == null}">로그인</a>
    <a th:href="@{/signUp}" th:if="${session.userId == null}">회원가입</a>
    <a th:href="@{/signOut}" th:if="${session.userId != null}">로그아웃</a>
    <a th:href="@{/myPage}">마이페이지</a>
    <a th:href="@{/cart}">장바구니</a>
</div>

<div class="search-form">
    <div class="search-box-wrapper">
        <h1>
            <a th:href="@{/main}" style="text-decoration: none; color: black;">Booktion</a>
        </h1>
        <form action="/search" method="post" class="search-box">
            <select id="type" name="type">
                <option value="book">일반도서</option>
                <option value="used">중고 책</option>
                <option value="auction">경매 책</option>
            </select>
            <input type="text" id="query" name="query" required style="color: #000;">
            <button type="submit">Search</button>
        </form>
    </div>
</div>

<div class="navbar-menu" style="margin-top: 20px;">
    <a href="#">일반도서</a>
    <a th:href="@{/used/main}">중고도서</a>
    <a th:href="@{/auction/books}">경매도서</a>
</div>
</body>
</html>