<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:fragment="SidebarFragment">

<div class="myPage-sideContainer">
    <div class="sidebar">
        <h4 class="page-title">마이페이지</h4>
        <p class="section-title">주문 목록</p>
        <ul class="book-links">
            <li><a class="side" th:href="@{/myPage/order/basicBook}">일반도서 주문</a></li>
            <li><a class="side" th:href="@{/myPage/order/used}">중고도서 주문</a></li>
            <li><a class="side" th:href="@{/myPage/order/auction}">경매도서 주문</a></li>
        </ul>

        <p class="section-title">판매하는 도서</p>
        <div class="sub-section">
            <p>중고도서</p>
            <ul class="book-links">
                <li><a class="side" th:href="@{/myPage/used/selling}">판매 중인 도서</a></li>
                <li><a class="side" th:href="@{/myPage/used/sold}">판매 완료 도서</a></li>
            </ul>
        </div>
        <div class="sub-section">
            <p>경매도서</p>
            <ul class="book-links">
                <li><a class="side" th:href="@{/auction/books/selling}">판매 중인 도서</a></li>
                <li><a class="side" th:href="@{/auction/books/sold}">판매 완료 도서</a></li>
                <li><a class="side" th:href="@{/auction/books/bids}">내가 입찰한 내역</a></li>
            </ul>
        </div>

        <p><a class="side" th:href="@{/review}">작성한 리뷰</a></p>
    </div>
</div>