<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤드-->
<th:block th:replace="/common/head :: HeadFragment"></th:block>
<body>
<!-- header -->
<th:block th:replace="common/header::HeaderFragment"></th:block>

<div class="content-wrap">
    <div class="sidebar-wrap">
        <th:block th:replace="common/sidebar :: SidebarFragment"></th:block>
    </div>
    <div class="myPageContent">
        <!-- content 내용 -->
        <th:block layout:fragment="content"></th:block>
    </div>
</div>

<!-- footer -->
<th:block th:replace="common/footer::FooterFragment"> </th:block>
</body>

</html>