<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book Information</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
</head>
<body>
<h1>책 정보</h1>
<div th:if="${book}">
  <h2 th:text="${book.title}"></h2>
  <p th:text="${book.author}"></p>
  <p th:text="${book.publisher}"></p>
  <p th:text="${book.pubDate}"></p>
  <p th:text="${book.isbn}"></p>
  <hr>
  <p>
    <img th:src="${book.imageUrl}" alt="Book Image" />
  </p>
  <form th:action="@{/book/order/form}" method="GET" onsubmit="return checkLogin()">
    <table>
      <tr>
        <th>한 권당 가격</th>
        <th>수량</th>
      </tr>
      <tr>
        <td th:text="${book.price}"></td>
        <td>
          <input type="number" min="1" name="quantity" value="1">
        </td>
      </tr>
    </table>
    <input type="hidden" name="bookId" th:value="${book.bookId}">
    <button type="submit" >주문하기</button>
    <form th:action="@{/cart/add}" method="POST">
      <input type="hidden" name="bookId" th:value="${book.bookId}">
      <button type="submit">장바구니에 담기</button>
    </form>
  </form>
</div>
<hr>
<h3>책 소개</h3>
<p th:text="${book.description}"></p>
<hr>
<h3>리뷰</h3>
<!-- 리뷰 작성 폼 -->
<form th:action="@{/book/{id}/review(id=${book.bookId})}" method="post" th:object="${review}">
  <textarea th:field="*{title}" placeholder="리뷰를 작성하세요"></textarea>
  <button type="submit">리뷰 작성</button>
</form>

<!-- 리뷰 리스트 표시 -->
<table>
  <thead>
  <tr>
    <th>작성자</th>
    <th>내용</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="review : ${reviews}">
    <td th:text="${review.user.userId}"></td>
    <td th:text="${review.title}"></td>
  </tr>
  </tbody>
</table>

<!-- 리뷰가 없을 경우 메시지 표시 -->
<div th:unless="${reviews != null and not reviews.isEmpty()}">
  <p>리뷰가 없습니다.</p>
</div>
<div th:if="${book == null}">
  <h2>존재하지 않는 책입니다.</h2>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    function checkLogin() {
        var userId = /*[[${#httpServletRequest.getSession().getAttribute('userId')}]]*/ null;
        if (!userId) {
            alert('로그인이 필요합니다.');
            window.location.href = '/signIn'; // 로그인 페이지로 이동합니다.
            return false; // 주문 폼 제출을 막기 위해 false를 반환합니다.
        }
        return true; // 로그인이 되어있는 경우 주문 폼 제출을 진행합니다.
    }
    /*]]>*/
</script>
</body>
</html>