<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Order Form</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <style>
      body {
        background-color: #f0faff;
      }

      .container {
        max-width: 1100px;
        background-color: #fff;
        padding: 20px;
        margin-top: 50px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }

      .form-group label {
        font-weight: bold;
      }

      .form-control {
        border: 1px solid #b2d8e5;
        border-radius: 5px;
        padding: 10px;
      }

      .btn-primary {
        background-color: #b2d8e5;
        border-color: #b2d8e5;
      }
    </style>
</head>
<body>

<div class="container">

  <h1>주문하기</h1>
  <br>
  <br>
  <div th:if="${error}">
    <p th:text="${error}" style="color: red;"></p>
  </div>
  <form action="/book/order/submit" method="post" th:object="${orderForm}">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">책 제목</th>
            <th scope="col">작가</th>
            <th scope="col">출판사</th>
            <th scope="col">출판일</th>
            <th scope="col">수량</th>
            <th scope="col">한 권당 가격</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="bookForm, stat : ${orderForm.books}" scope="row">
            <td>
              <input type="checkbox" name="selectedBooks" th:value="${bookForm.book.bookId}" />
            </td> <!-- 선택 체크박스 -->
            <td><img th:src="${bookForm.book.imageUrl}" class="rounded float-start" alt="Book Image"></td>
            <td th:text="${bookForm.book.title}" ></td>
            <td th:text="${bookForm.book.author}" ></td>
            <td th:text="${bookForm.book.publisher}" ></td>
            <td th:text="${bookForm.book.pubDate}" ></td>
            <td>
              <input type="number" min="1" name="quantity" th:value="${bookForm.quantity}" />
            </td>
            <td>
              <span th:text="${bookForm.book.price}"></span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr scope="row" >
            <td colspan="5"></td>
            <td>총 결제 예상 금액:</td>
            <td><span id="orderPrice"></span></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <br>
    <h3>주문자 정보</h3>
    <div>
      <label for="name">이름</label>
      <input type="text" id="name" th:field="*{order.name}" required>
    </div>
    <div>
      <label for="phoneNum">전화번호</label>
      <input type="text" id="phoneNum" th:field="*{order.phoneNum}" required>
    </div>
    <div>
      <label for="zipcode">우편번호</label>
      <input type="text" id="zipcode" th:field="*{order.address.zipcode}" required>
    </div>
    <div>
      <label for="address1">주소</label>
      <input type="text" id="address1" th:field="*{order.address.address1}" required>
      <label for="address2"></label>
      <input type="text" id="address2" th:field="*{order.address.address2}">
    </div>

    <h2>주문 정보</h2>
    <div>
      <label for="shipMessage">배송 메시지</label>
      <input type="text" id="shipMessage" th:field="*{order.shipMessage}">
    </div>
    <div>
      <label for="payment">결제 방법</label>
      <input type="text" id="payment" th:field="*{order.payment}">
    </div>
    <div>
      <label for="card">카드 정보</label>
      <input type="text" id="card" th:field="*{order.card}">
    </div>
    <div>
      <label for="orderType">주문 유형</label>
      <input type="text" id="orderType" th:field="*{order.orderType}">
    </div>
    <button type="submit">주문하기</button>
  </form>
</div>



</body>
</html>
