<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Order Success</title>
  <style>
       table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
  </style>
</head>
<body>
<h1>주문에 성공하였습니다. 주문 정보를 확인해주세요.</h1>
<div th:if="${order}">
  <h2>주문 정보</h2>
  <h3>주문한 책 정보: </h3>
  <table>
    <tr>
      <th></th>
      <th>제목</th>
      <th>수량</th>
      <th>한 권당 가격</th>
    </tr>
    <tr th:each="orderItem : ${order.orderItems}">
      <td>
        <img th:src="${orderItem.book.imageUrl}" alt="책 이미지" width="100" height="150" />
      </td>
      <td th:text="${orderItem.book.title}"></td>
      <td th:text="${orderItem.quantity}"></td>
      <td th:text="${orderItem.book.price}"></td>
    </tr>
  </table>
  <p>주문번호 : <span th:text="${order.orderId}"></span></p>
  <p>주문 날짜: <span th:text="${order.orderDate}"></span></p>
  <p>이름 : <span th:text="${order.name}"></span></p>
  <p>전화번호 : <span th:text="${order.phoneNum}"></span></p>
  <p>주소: <span th:text="${order.address.address1}"></span>
    <span th:text="${order.address.address2}"></span></p>
  <p>배송 메시지: <span th:text="${order.shipMessage}"></span></p>
  <p>결제 금액: <span th:text="${order.price}"></span></p>
  <p>결제 방법: <span th:text="${order.payment}"></span></p>
  <p>카드 정보: <span th:text="${order.card}"></span></p>
  <p>주문 유형: <span th:text="${order.orderType}"></span></p>
  <a href="/main" class="btn btn-primary">메인으로 돌아가기</a>
</div>
<div th:if="${not order}">
  <h2>주문 정보가 없습니다.</h2>
</div>
</body>
</html>
