<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">
<head>
    <meta charset="UTF-8">
    <title>판매목록</title>
</head>
<body>
<h1>판매 중인 중고 도서</h1>
<div align="center">
    <p>
        <b>판매 중인 중고 도서 목록</b>
    </p>
    <table>
        <tr>
            <td><b>책 제목</b></td>
            <td><b>책정가격</b></td>
            <td><b>배송사</b></td>
        </tr>
        <tr th:each="selling : ${sellingUsedBooks}">
            <td th:text="${selling.title}"></td>
            <td th:text="${selling.price}"></td>
            <td th:text="${selling.company}"></td>
        </tr>
    </table>
</div>
</body>
</html>