<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Booktion</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
<div class="book-list">
    <div th:each="book : ${bookList}" class="book-item">
        <div class="book-title" th:text="${book.title}"></div>
        <div class="book-author" th:text="${book.author}"></div>
    </div>
</div>

<a href="/used/registForm">usedRegistForm</a><br>
<a href="/used/main">중고도서</a><br>

<a href="/book/list">책 목록</a>
<a href="/search/used">도서 검색 api -  중고</a>
<br>
<a href="/review">리뷰</a><br>
<a href="/myPage/order/basicBook">일반도서 주문목록</a>
</div>

</body>
</html>
