<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auctions</title>
</head>
<body>
<h1>Auctions</h1>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>가격</th>
        <th>경매시작가</th>
        <th>자세히보기</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="auctionBook : ${auctionBooks}">
        <td th:text="${auctionBook.book.title}"></td>
        <td th:text="${auctionBook.author}"></td>
        <td th:text="${auctionBook.price}"></td>
        <td>
            <a th:href="@{/auction/books/{bookId}(bookId=${auctionBook.bookId})}">클릭</a>
        </td>
        <td>
            <form th:action="@{/auction/books/{bookId}/endAuction(bookId=${auctionBook.bookId})}" method="post">
                <button type="submit">경매 종료</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
